<section id="mu-counter">
  <div class="mu-counter-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-counter-area">

            <ul class="mu-counter-nav">

              <li class="col-md-3 col-sm-3 col-xs-12">
                <div class="mu-single-counter">
                  <span>Fresh</span>
                  <h3><span class="counter-value" data-count="150">0</span><sup>+</sup></h3>
                  <p>Breakfast Items</p>
                </div>
              </li>

              <li class="col-md-3 col-sm-3 col-xs-12">
                <div class="mu-single-counter">
                  <span>Delicious</span>
                  <h3><span class="counter-value" data-count="60">0</span><sup>+</sup></h3>
                  <p>Lunch Items</p>
                </div>
              </li>

               <li class="col-md-3 col-sm-3 col-xs-12">
                <div class="mu-single-counter">
                  <span>Hot</span>
                   <h3><span class="counter-value" data-count="45">0</span><sup>+</sup></h3>
                  <p>Coffee Items</p>
                </div>
              </li>

               <li class="col-md-3 col-sm-3 col-xs-12">
                <div class="mu-single-counter">
                  <span>Satisfied</span>
                  <h3><span class="counter-value" data-count="6560">0</span><sup>+</sup></h3>
                  <p>Customers</p>
                </div>
              </li>

            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
