
/*==================
 MENU ITEM SECTION
====================*/

#mu-restaurant-menu {
  display: inline;
  float: left;
  width: 100%;
  padding: 100px 0;
}

.mu-restaurant-menu-area {
  display: inline;
  float: left;
  width: 100%;
}

.mu-restaurant-menu-content {
  display: inline;
  float: left;
  margin-top: 30px;
  width: 100%;
}

.mu-restaurant-menu {
  display: inline-block;
  width: 100%;
  text-align: center;
  border: none;
}

.mu-restaurant-menu li {
  display: inline-block;
  float: none;
}

.mu-restaurant-menu li a {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  border-radius: 0;
  color: #fff;
  font-size: 18px;
  margin: 0 15px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.mu-restaurant-menu li a:hover,
.mu-restaurant-menu .active a,
.mu-restaurant-menu .active a:hover,
.mu-restaurant-menu .active a:focus {
  background-color: #FFF;
}

.mu-tab-content-area {
  display: inline;
  float: left;
  width: 100%;
  padding: 50px 0;
}

.mu-tab-content-left {
  display: inline;
  float: left;
  padding-right: 15px;
  width: 100%;
}

.mu-tab-content-right {
  display: inline;
  float: left;
  padding-left: 15px;
  width: 100%;
}

.mu-menu-item-nav li {
  border-bottom: 1px dashed #ccc;
  display: inline;
  float: left;
  margin-bottom: 20px;
  padding-bottom: 15px;
  width: 100%;
}

.mu-menu-item-nav li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.mu-menu-item-nav li .media .media-left {
  width: 110px;
  height: 110px;
}

.mu-menu-item-nav li .media .media-left a,
.mu-menu-item-nav li .media .media-left a img {
  display: block;
  width: 110px;
  height: 110px;
}

.mu-menu-item-nav li .media .media-body .media-heading {
  font-size: 20px;
  margin-bottom: 10px;
}

.mu-menu-item-nav li .media .media-body .media-heading a {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.mu-menu-item-nav li .media .media-body .mu-menu-price {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.5px;
  line-height: 20px;
}

.mu-menu-item-nav li .media .media-body p {
  margin-top: 10px;
  font-size: 14px;
}


@media (max-width: 767px) {

  #mu-header {
    padding: 0 15px;
  }

  .navbar-default .navbar-toggle {
    border-radius: 0px;
  }

  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #fff;
  }

  .mu-main-navbar .mu-main-nav {
    background-color: #fff;
    text-align: center;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: #fff;
  }

  #mu-counter .mu-counter-overlay .mu-counter-area .mu-counter-nav li {
    margin-top: 10px;
    margin-bottom: 10px;
    border-right: none;
  }

}


@media (max-width: 640px) {

  #mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-restaurant-menu li a {
    font-size: 16px;
    margin: 0 5px;
  }
}


@media (max-width: 480px) {

  #mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-restaurant-menu li {
    margin-bottom: 10px;
  }


}

@media (max-width: 360px) {

  #mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-restaurant-menu li {
    margin-bottom: 12px;
  }


  #mu-restaurant-menu {
    padding-bottom: 0px;
  }

  .mu-menu-item-nav li {
    text-align: center;
  }

  #mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-tab-content-area .mu-menu-item-nav li .media .media-left {
    height: auto;
    width: 100%;
    margin-right: 0;
    float: left;
  }

  #mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-tab-content-area .mu-menu-item-nav li .media .media-left a{
    display: inline-block;
    margin-bottom: 10px;
  }

  #mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-tab-content-area .mu-menu-item-nav li .media .media-left a img {
    display: inline-block;
  }


}

