<section id="mu-restaurant-menu">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-restaurant-menu-area">

          <div class="mu-title">
            <span class="mu-subtitle">Discover</span>
            <h2>OUR MENU</h2>
          </div>

          <div class="mu-restaurant-menu-content">
            <ul class="nav nav-tabs mu-restaurant-menu">
              <!-- <li class="active"><a  (click)="selectType( 'Breakfast' )">Breakfast</a></li> -->
              <li><a  (click)="selectType( 'Breakfast' )">Breakfast</a></li>
              <li><a  (click)="selectType( 'Meals')">Meals</a></li>
              <li><a (click)="selectType('Snacks') ">Snacks</a></li>
              <li><a (click)="selectType('Desserts')">Desserts</a></li>
              <li><a (click)="selectType( 'Drinks') ">Drinks</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <app-menu-panel [paneType]= "selectedPaneType"></app-menu-panel>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
