<div class="container">
  <div class="row">
    <div class="col-xs-8 col-sm-6 col-md-4">
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="media-body">
                <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                  <div id="user-data">
                    <div class="form-group">
                      <label for="dishName">Dish Name</label>
                      <input
                        type="text"
                        id="dishName"
                        class="form-control"
                        ngModel
                         name="dishName">
                    </div>
                    <div class="form-group">
                      <label for="price">Price</label>
                      <input type="price"
                             id="price"
                             class="form-control"
                             ngModel
                             name="price">
                    </div>
                    <div class="form-group">
                      <label for="description">Description</label>
                      <input type="description"
                             id="description"
                             class="form-control"
                             ngModel
                             name="description">
                    </div>
                    <div class="form-group">
                      <label for="type">Dish Type</label>
                      <input type="type"
                             id="type"
                             class="form-control"
                             ngModel
                             name="type">
                    </div>

                    <div class="form-group">
                      <label for="file">Image</label>
                      <input
                            #FileSelectInputDialog
                            type="file"
                            class="form-control"
                            ngModel
                            name="selectedFile">
                    </div>
                  </div>

                  <div class="row" style="margin-bottom:15px;">
                    <div class="col-md-3">
                      <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
                      <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
                    </div>
                    <div class="col-md-4">
                      <span class="upload" *ngIf="progress > 0">
                        {{progress}}%
                      </span>
                      <span class="upload" *ngIf="message">
                        {{message}}
                      </span>
                    </div>
                  </div>

                  <button class="btn btn-primary" type="submit">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
