<li>
<div class="media">
  <div class="media-left">
    <!-- <a [href]="'#'+item.guid" class="open-popup-link"> -->
    <a>
      <img class="media-object" [src]="item.imgPath" alt="img">
    </a>
  </div>
  <div class="media-body">
  <h4 class="media-heading"><a>{{item.nome}}</a></h4>
    <span class="mu-menu-price">${{item.prezzo}}</span>
  <p>{{item.descrizione}}</p>
  </div>
</div>
<div [id]="item.guid" class="white-popup mfp-hide">
  <div class="media">
    <div class="media-left">
      <a>
        <img class="media-object" [src]="item.imgPath" alt="img">
      </a>
    </div>
  </div>
</div>
<!-- <a >Show inline popup</a> -->
</li>
